<a href="https://colab.research.google.com/github/M0Corp/Assignment-1/blob/main/Parking_Garage_(class_exercise).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Parking garage charges $5 plus $2.5 for each hour parked. Mimimum fee is $10 and the max fee is $20. Write a program that generates a table with hours parked and the corresponsding fee, from 1 to 8 hours

In [ ]:

for hour in range (1, 9):
  price = (hour*2.5)+5
  if price <= 10:
    price =10
  if price >= 20:
    price = 20
  print ('Hours', hour, '- $', price)

Hours 1 - $ 10
Hours 2 - $ 10
Hours 3 - $ 12.5
Hours 4 - $ 15.0
Hours 5 - $ 17.5
Hours 6 - $ 20
Hours 7 - $ 20
Hours 8 - $ 20

Movie theather ex. Each ticket is $10. Without ads, 20 people are expected to attend. Additional people may attendn based on advertising estimated to be;
additonal = 2*round(dollars**.5). In additonal there's a $200 fixed cost

In [ ]:
x=10
a=20
f=200
for n in range (0,201, 25):
  additional = 2*round(n**.5)
  revenue = (additional + a)*x-f-n
  print (n, revenue)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
down = 100000
deposit = 1000
amount = 5000
n_months = 0

while deposit < down:
  deposit = deposit + amount
  n_months = n_months + 1
  print (deposit, n_months)

6000 1
11000 2
16000 3
21000 4
26000 5
31000 6
36000 7
41000 8
46000 9
51000 10
56000 11
61000 12
66000 13
71000 14
76000 15
81000 16
86000 17
91000 18
96000 19
101000 20